<div fxLayout="row" *ngIf="tweetData">
    <div *ngFor="let topic of tweetData; let i = index" fxFlex="1 1 20%" fxAlign="start">
      <div fxLayout="column">
        <div fxLayoutAlign="center" fxFlex="1 1 10%"><strong>Topic {{i+1}}</strong></div>
        <div fxLayoutAlign="center" fxFlex="1 1 90%"><angular-tag-cloud
          [data]="tweetData[i]"
          [width]="options.width"
          [height]="options.height"
          [overflow]="options.overflow">
        </angular-tag-cloud>
        </div>
        </div>
    </div>
</div>